extends layout

block header
    a(href= '#entryAddDialog', data-rel= 'popup', data-position-to= 'window', data-icon= 'plus', class= 'ui-btn-right') Add
    
block content
    ul(data-role= 'listview')
        each entry in entries
            li
                a(href= 'resources/' + entry.id + '/' + entry.name)
                    h2= entry.name
    
    div(data-role= 'popup', id= 'entryAddDialog' class= 'ui-content')
        form(id= 'entryAddForm', action='/entries/add', method= 'post')
            h3 Please Input Entry Information
            input(type= 'text' name= 'name' id= 'entryName' value= '' placeholder= 'Entry Name')
            input(type= 'text' name= 'searchKeywords' id= 'entrySearchKeywords' value= '' placeholder= 'Search Keywords')
            input(type= 'text' name= 'regExpr' id= 'entryRegExpr' value= '' placeholder= 'Regular Expression')
            a(href= 'javascript:validateEntry()' class= 'ui-btn') Check
            div
                p(id= 'resourceCheckResult' hidden= 'true')
            button(type= 'submit' id= 'entrySubmit' disabled= 'true') Submit
            
block clientScript
    script.
        var entryAddForm = $('#entryAddForm');
        entryAddForm.submit(function (event) {
            $('#entrySubmit').prop('disabled', true);
            $.ajax({
                type: entryAddForm.attr('method'),
                url: entryAddForm.attr('action'),
                data: entryAddForm.serialize(),
                success: function (data) {
                    //$('#entryAddForm')[0].reset();
                    //$('#resourceCheckResult').hide();
                    //$('#entryAddDialog').popup('close');
                    location.reload();
                }
            });
            event.preventDefault();
        });
        
        function validateEntry() {
            $('#resourceCheckResult').text('Checking...');
            $('#resourceCheckResult').show();
            $.post('/resources/validateEntry', entryAddForm.serialize())
            .done(function (data) {
                if (data.errorCode != 0) {
                    $('#resourceCheckResult').text(data.errorMessage);
                } else {
                    var resultText = 'Resource(s) found: ' + data.result.foundCount + '\n' +
                                     'Resource(s) matched: ' + data.result.matchedCount + '\nSample:';
                    data.result.sampleList.forEach(function (sample) {
                        resultText = resultText + '\n' + sample;
                    });
                    $('#resourceCheckResult').html(htmlForTextWithEmbeddedNewlines(resultText));
                    $('#entrySubmit').prop('disabled', false);
                }
            });
        }
