extends layout

block content
    ul(data-role= 'listview')
        each entry in entries
            li
                a(href= 'resources/' + entry.id + '/' + entry.name)
                    h2= entry.name
